<a href="https://colab.research.google.com/github/01fe21bec087/Python_for_ML/blob/main/1)VariableDeclaration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Variable Declaration***
Subtraction

In [ ]:
a=10
b=8
c=5
diff2=a-b
print(diff2)
diff3=a-b-c
print(diff3)

2
-3

Multiplication

In [ ]:
prod=a*b
print(prod)

80

Division

In [ ]:
quotient=a/b
print(quotient)
rem=a%b
print(rem)

1.25
2

Squaring/Square rooting of numbers

In [ ]:
import math
square=math.pow(a,2)  #(base,index)
print(square)
sqroot=math.sqrt(a)
print(sqroot)

100.0
3.1622776601683795

In [ ]:
#import statistics
#Average=statistics.mean(a)
numArray=[10,20,30,40,50]
average=sum(numArray)/len(numArray)
print(average)

30.0

# ***DataTypes***

## ***String***

In [ ]:
name="Abhinav 248 @20/02/2003"
print(name)
print(type(name))

Abhinav 248 @20/02/2003
<class 'str'>

## ***Numeric***

In [ ]:
num1=69
num2=56.89
num3=4j
print(type(num1))
print(type(num2))
print(type(num3))
num4=-99
print(type(num4))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>

## ***Sequence***

### ***1. List***


*   Ordered
*   Mutable
*   Allow duplicates

In [ ]:
list1=['kau','123','30.45']
type(list1)
print(list1)

['kau', '123', '30.45']

In [ ]:
list2=['apple','200','India','milkyway']
print(len(list1))
print(len(list2))
list3=list1+list2
print(list3)
print(len(list3))

3
4
['kau', '123', '30.45', 'apple', '200', 'India', 'milkyway']
7

In [ ]:
list2=[]
list2.append("Hubli")
list2

['Hubli']

In [ ]:
list2.clear()
list2

[]

In [ ]:
list2=['apple','200','India','milkyway']
list2[0]
list2[2]
list2.sort()
list2

['200', 'India', 'apple', 'milkyway']

### ***2.Tuples***

Accessing Tuples


















//write here

In [ ]:
tuple1=("Hubli","Belgaum","Gadag")
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[-1])

Hubli
Belgaum
Gadag
Gadag

Joining Tuples

In [ ]:
tuple6=tuple1+tuple1
print(tuple6)

('Hubli', 'Belgaum', 'Gadag', 'Hubli', 'Belgaum', 'Gadag')

In [ ]:
tuple2=("Ab","Cd")
tuple7=tuple2*2
tuple7

('Ab', 'Cd', 'Ab', 'Cd')

Indexing Tuples

In [ ]:
y=tuple6.index('Belgaum')
print(y)

1

Counting occurence of elements of tuple

In [ ]:
x=tuple6.count('Hubli')
print(x)

2

### ***Typecasting***

In [ ]:
varT=('Mumbai','Delhi','Ayodhya')   #tuple
print(varT)
varL=list(varT)                     #list
print(varL)

('Mumbai', 'Delhi', 'Ayodhya')
['Mumbai', 'Delhi', 'Ayodhya']

In [ ]:
#varT[3]="Bengaluru"
#cannot assign directly to tuple

In [ ]:
varL.append("Bengaluru")    #cannot directly: varL[3]="Bengaluru"
print(varL)

['Mumbai', 'Delhi', 'Ayodhya', 'Bengaluru']

In [ ]:
varT=tuple(varL)
print(varT)

('Mumbai', 'Delhi', 'Ayodhya', 'Bengaluru')

### ***3. Sets***

1.Unordered

In [ ]:
set1={"Red","Blue","Black"}
print(set1)

{'Black', 'Blue', 'Red'}

In [ ]:
set1.add('Orange')
print(set1)

{'Black', 'Blue', 'Red', 'Orange'}

3.Duplicates not allowed

In [ ]:
set1.add('Red')
print(set1)

{'Black', 'Blue', 'Red', 'Orange'}

In [ ]:
set2={"Ball","Bat","Wicket"}
set1.update(set2)
print(set1)

{'Bat', 'Wicket', 'Red', 'Orange', 'Black', 'Blue', 'Ball'}

### ***4. Dictionary***

In [ ]:
dict1={"Name": "Kaushik",
       "Age": "32",
       "Gender": "Male"}
print(dict1)
print(type(dict1))

{'Name': 'Kaushik', 'Age': '32', 'Gender': 'Male'}
<class 'dict'>

In [ ]:
#Duplicate NOT allowed
dict2={"Name": "Kaushik",
       "Age": "32",
       "Gender": "Male",
       "Year": "2023",
       "Year": "2015",
       "Name": "Abhinav"}
print(dict2)

{'Name': 'Abhinav', 'Age': '32', 'Gender': 'Male', 'Year': '2015'}

# ***Assignment***

Code 1

In [ ]:
ask=int(input("Press 1 for student, 0 for parent: "))
if(ask==1):
  print("visit: student.kletech.ac.in")
elif(ask==0):
  print("visit: parents.kletech.ac.in")
else:
  print("URL unavailable")

Press 1 for student, 0 for parent: 1
visit: student.kletech.ac.in

Code 2

In [ ]:
a=10
b=8
c=5
diff2=a-b
print(diff2)
diff3=a-b-c
print(diff3)

2
-3

Code 3

In [ ]:
dict2={"Name": "Kaushik",
       "Age": "32",
       "Gender": "Male",
       "Year": "2023",
       "Year": "2015",
       "Name": "Abhinav"}
print(dict2)

{'Name': 'Abhinav', 'Age': '32', 'Gender': 'Male', 'Year': '2015'}

Code 4

In [ ]:
numArray=[10,20,30,40,50]
average=sum(numArray)/len(numArray)
print(average)

30.0

Code 5

In [ ]:
import math
square=math.pow(a,2)  #(base,index)
print(square)
sqroot=math.sqrt(a)
print(sqroot)

100.0
3.1622776601683795