<a href="https://colab.research.google.com/github/01fe21bec087/Python_for_ML/blob/main/3)DataOperators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Data Operators in Python***

## ***1. Arithmetic Operators***

In [ ]:
x=12
y=4

sum=x+y
print(sum)

diff=x-y
print(diff)

prod=x*y
print(prod)

div=x/y
print(div)

fdiv=x//y
print(fdiv)

mod=x%y
print(mod)

power=x**y
print(power)

16
8
48
3.0
3
0
20736

## ***2. Logical Operators***

In [ ]:
age=int(input("Enter the age: "))
print(age>18 and age<60)
print(age>21 or age<18)

Enter the age: 20
True
False

## ***3. Comparison Operators***

## ***4. Bitwise Operators***

&, |, ^, ~, <<, >>

In [ ]:
print(8&12)
print(0xfe|0x12)
x=int(input())
y=int(input())
Exor=x^y
print(Exor)

8
254
3
4
7
-12

In [ ]:
#NOT
print(~11)
print(~15)
print(~0)
print(~16)

-12
-16
-1
-17

In [ ]:
print("3x(2^1) = ",3<<1)   #left shift (X by 2^n)
a=int(input())
b=int(input())
print(a,"/(2^",b,") = ",a>>b)

3x(2^1) =  6
123456
12
123456 /(2^ 12 ) =  30

## ***5. Assignment Operators***

In [ ]:
a=int(input())
b=int(input())
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a>>=b
print(a)
a**=b
print(a)

a<<=b
print(a)
a&=b
print(a)
a|=b
print(a)
a/=b
print(a)
a%=b
print(a)

5
3
8
5
15
1
1
8
0
3
1.0
1.0

## ***6. Identity and Membership Operators***

is, is not

in

In [ ]:
list1=["Hubli","Belgaum","Gadag","Bengaluru"]
list2=["Karnataka","Maharashtra"]
list3=list2
list3=list1
print(list3 is not list2)
print(list3 is list1)
print("Belgaum" in list1)
list4=["Maharashtra"]
print(list4 in list2)
str1="Maharashtra"
print(str1 in list2)

True
True
True
False
True