<a href="https://colab.research.google.com/github/01fe21bec087/Python_for_ML/blob/main/4)Iterative_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***While loop***

In [ ]:
num=int(input("Enter the number: "))
while num<=9:
  print("Number is single digit")
  break
while num>9 and num<99:
  print("Number is double digit")
  break
else:
  print("Number has more than 2 digits")

Enter the number: 12345
Number has more than 2 digits

## ***For loop***

for count_var in range(starpt,endpt,interval)

In [ ]:
for x in range(1,20,2):
  print(x)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for x in range(0,5):
  print("ten times",x,"is",10*x)

ten times 0 is 0
ten times 1 is 10
ten times 2 is 20
ten times 3 is 30
ten times 4 is 40

In [ ]:
for x in range(-3,2):
  print(x)

-3
-2
-1
0
1

In [ ]:
for i in range(0,10):
  print(i,"is single digit")
for i in range(10,99,10):
  print(i,"is double digit")

0 is single digit
1 is single digit
2 is single digit
3 is single digit
4 is single digit
5 is single digit
6 is single digit
7 is single digit
8 is single digit
9 is single digit
10 is double digit
20 is double digit
30 is double digit
40 is double digit
50 is double digit
60 is double digit
70 is double digit
80 is double digit
90 is double digit

In [ ]:
places=["hubli","Haveri","Belgaum","bengaluru"]
for x in places:
  print(x[0])
  #print(type(x))

h
<class 'str'>
H
<class 'str'>
B
<class 'str'>
b
<class 'str'>

In [ ]:
places=["hubli","Haveri","Belgaum","bengaluru"]
i=0
for x in places:
  print(x)
  if x=="Belgaum":
    print(x,"is found at",i)
    break
  i+=1

hubli
Haveri
Belgaum
Belgaum is found at 2

Assignment code 1

In [ ]:
def pattern1(num):
  for i in range(1,num+1,2):
    #if(i%2==1):
      for j in range(num+1,i,-1):
        print("*",end=" ")
      print()

pattern1(5)

* * * * *
* * *
*

Assignment code 2

In [ ]:
def pattern2(num):
  for i in range(0,num,2):
    for j in range(0,(num-i)//2):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    for j in range(0,(num-i)//2):
        print(" ",end=" ")
    print()

pattern2(5)

    *
  * * *
* * * * *

Assignment code 3

In [ ]:
def table(num):
   for i in range(1,10+1):
      print(num,"x",i,"=",num*i)
   print()

table(2)
table(5)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50