<a href="https://colab.research.google.com/github/01fe21bec087/Python_for_ML/blob/Pantech_ML_Course/Day3_Pantech_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Data Structures***

1. List
2. Tuple
3. Set
4. Dictionary

# ***List***

Collection of items enclosed in [ ]


*   Ordered, and can be of any type
*   Mutable (can be modified after they are created)
*

## ***Accessing***

### ***Accessing Discrete elements of a list***

In [21]:
#Accessing Discrete elements of a list
x=["apple","banana","Carrot"]
print(x[0])

apple

In [22]:
print(x[0][0])
print(x[2][4])

a
o

### ***Slicing - Access a range of index***

In [23]:
#Slicing - Access a range of index
y=['apple',5,5,True,'25']
print(y[1:4])
print(y[2:])

[5, 5, True]
[5, True, '25']

## ***Replacing elements***

In [24]:
y[2]="Newword"
print(y)

['apple', 5, 'Newword', True, '25']

## ***Adding***

### ***Insert elements***

In [39]:
#Insert a new element a the specified index (existing elements will be pushed, and not deleted)
y.insert(1,"Inserted")
print(y)

['apple', 'Inserted', 'Inserted', 5, 'Newword', True, '25', 'Hello']

### ***Append elements***

In [40]:
#Insert at end (After the last element)
y.append("Hello")
print(y)

['apple', 'Inserted', 'Inserted', 5, 'Newword', True, '25', 'Hello', 'Hello']

### ***Extend list***

In [41]:
#Append elements from another list
x=["a",3,False,"Nicce"]
x.extend(y)
print(x)

['a', 3, False, 'Nicce', 'apple', 'Inserted', 'Inserted', 5, 'Newword', True, '25', 'Hello', 'Hello']

In [42]:
lis1=[1,2,3]
lis2=[4,5,6]

lis1.extend(lis2)
print(lis1)
print(lis2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

## ***Deleting***

### ***Remove elements***

In [43]:
lis1.remove(2)
print(lis1)

[1, 3, 4, 5, 6]

### ***Pop elements***

In [44]:
#Give the index of the element to delete
lis1.pop(0)
print(lis1)

[3, 4, 5, 6]

### ***Clear the entire list***

In [45]:
lis2.clear()
print(lis2)

[]

## ***Sorting***

### ***Sorting list of strings alphabetically***

In [50]:
lis3=["kite","banana","M","apple"]
lis3.sort()
print(lis3)

['M', 'apple', 'banana', 'kite']

### ***Sorting list of numbers in Ascending order***

In [54]:
list4=[54,8,43,76,46,7.6,42,5,8,43,756,8,43,3,0.76,9,43]
list4.sort()
print(list4)

[0.76, 3, 5, 7.6, 8, 8, 8, 9, 42, 43, 43, 43, 43, 46, 54, 76, 756]

### ***Sorting list in reverse order/Descending order***

In [55]:
list4.sort(reverse=True)
print(list4)

[756, 76, 54, 46, 43, 43, 43, 43, 42, 9, 8, 8, 8, 7.6, 5, 3, 0.76]

### ***Non-homogeneous sorting gives error***

In [51]:
lis4=["kite","banana","M","apple",1,5,2,True,False]
lis4.sort()
print(lis4)

TypeError: ignored

## ***Copy list***

In [58]:
#Create and new list and copy the entire content of other list to it
print(lis4)
lis5=lis4.copy()
print(lis5)

['M', 'apple', 'banana', 'kite', 1, 5, 2, True, False]
['M', 'apple', 'banana', 'kite', 1, 5, 2, True, False]

# ***Tuple***

Collection of items enclosed in paranthesis ( )
* Ordered, can be of any type
* Immutable (items cannot be modified after they are created)

## ***Access a range of Index***

In [59]:
tup1=("kaggle",3,True,'n')
print(tup1)
print(tup1[1:3])

('kaggle', 3, True, 'n')
(3, True)

## ***Adding elements to a tuple***

In [74]:
#Tuple is Immutable
tup1[2]=False

TypeError: ignored

If we want to change the content of tuple anyway, we have to first convert it to list, change the content, and the convert back to tuple

### ***Converting Tuple to list***

In [75]:
tup1

('kaggle', 3, True, 'n')

In [76]:
lis1=list(tup1)
print(lis1)

['kaggle', 3, True, 'n']

### ***Add elements to the converted list***

In [77]:
lis1.append("karthik")
print(lis1)

['kaggle', 3, True, 'n', 'karthik']

In [78]:
lis1[2]="Newword"
print(lis1)

['kaggle', 3, 'Newword', 'n', 'karthik']

### ***Converting List to Tuple***

In [80]:
tup1=tuple(lis1)
print(tup1)

('kaggle', 3, 'Newword', 'n', 'karthik')

## ***Deleting elements from a tuple***

If we want to change the content of tuple anyway, we have to first convert it to list, change the content, and the convert back to tuple

In [83]:
tup2=(5,'k',"Malibu",34.65,False,"Abcd")
print(tup2)

(5, 'k', 'Malibu', 34.65, False, 'Abcd')

### ***Converting Tuple to list***

In [82]:
lis2=list(tup2)
print(lis2)

[5, 'k', 'Malibu', 34.65, False, 'Abcd']

### ***Delete elements from the converted list***

In [84]:
lis2.remove(False)
print(lis2)

[5, 'k', 'Malibu', 34.65, 'Abcd']

In [85]:
lis2.pop(4)
print(lis2)

[5, 'k', 'Malibu', 34.65]

### ***Converting List to Tuple***

In [86]:
tup2=tuple(lis2)
print(tup2)

(5, 'k', 'Malibu', 34.65)

## ***Combine multiple tuples***

In [87]:
#Similar to list concatenate
tup3=('a',"Bc",123)
tup4=(456,"DEFG<",'z')
tupx=tup3+tup4
print(tupx)

('a', 'Bc', 123, 456, 'DEFG<', 'z')

In [89]:
tupy=tup3+tup4+tup3
print(tupy)

('a', 'Bc', 123, 456, 'DEFG<', 'z', 'a', 'Bc', 123)

# ***Set***
33:25