<a href="https://colab.research.google.com/github/01fe21bec087/Python_for_ML/blob/Pantech_ML_Course/Day3_Pantech_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Data Structures***

1. List
2. Tuple
3. Set
4. Dictionary

# ***List***

Collection of items enclosed in [ ]


*   Ordered, and can be of any type
*   Mutable (can be modified after they are created)
*

## ***Accessing***

### ***Accessing Discrete elements of a list***

In [ ]:
#Accessing Discrete elements of a list
x=["apple","banana","Carrot"]
print(x[0])

apple

In [ ]:
print(x[0][0])
print(x[2][4])

a
o

### ***Slicing - Access a range of index***

In [ ]:
#Slicing - Access a range of index
y=['apple',5,5,True,'25']
print(y[1:4])
print(y[2:])

[5, 5, True]
[5, True, '25']

## ***Replacing elements***

In [ ]:
y[2]="Newword"
print(y)

['apple', 5, 'Newword', True, '25']

## ***Adding***

### ***Insert elements***

In [ ]:
#Insert a new element a the specified index (existing elements will be pushed, and not deleted)
y.insert(1,"Inserted")
print(y)

['apple', 'Inserted', 'Inserted', 5, 'Newword', True, '25', 'Hello']

### ***Append elements***

In [ ]:
#Insert at end (After the last element)
y.append("Hello")
print(y)

['apple', 'Inserted', 'Inserted', 5, 'Newword', True, '25', 'Hello', 'Hello']

### ***Extend list***

In [ ]:
#Append elements from another list
x=["a",3,False,"Nicce"]
x.extend(y)
print(x)

['a', 3, False, 'Nicce', 'apple', 'Inserted', 'Inserted', 5, 'Newword', True, '25', 'Hello', 'Hello']

In [ ]:
lis1=[1,2,3]
lis2=[4,5,6]

lis1.extend(lis2)
print(lis1)
print(lis2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

## ***Deleting***

### ***Remove elements***

In [ ]:
lis1.remove(2)
print(lis1)

[1, 3, 4, 5, 6]

### ***Pop elements***

In [ ]:
#Give the index of the element to delete
lis1.pop(0)
print(lis1)

[3, 4, 5, 6]

### ***Clear the entire list***

In [ ]:
lis2.clear()
print(lis2)

[]

## ***Sorting***

### ***Sorting list of strings alphabetically***

In [ ]:
lis3=["kite","banana","M","apple"]
lis3.sort()
print(lis3)

['M', 'apple', 'banana', 'kite']

### ***Sorting list of numbers in Ascending order***

In [ ]:
list4=[54,8,43,76,46,7.6,42,5,8,43,756,8,43,3,0.76,9,43]
list4.sort()
print(list4)

[0.76, 3, 5, 7.6, 8, 8, 8, 9, 42, 43, 43, 43, 43, 46, 54, 76, 756]

### ***Sorting list in reverse order/Descending order***

In [ ]:
list4.sort(reverse=True)
print(list4)

[756, 76, 54, 46, 43, 43, 43, 43, 42, 9, 8, 8, 8, 7.6, 5, 3, 0.76]

### ***Non-homogeneous sorting gives error***

In [ ]:
lis4=["kite","banana","M","apple",1,5,2,True,False]
lis4.sort()
print(lis4)

TypeError: ignored

## ***Copy list***

In [ ]:
#Create and new list and copy the entire content of other list to it
print(lis4)
lis5=lis4.copy()
print(lis5)

['M', 'apple', 'banana', 'kite', 1, 5, 2, True, False]
['M', 'apple', 'banana', 'kite', 1, 5, 2, True, False]

# ***Tuple***

Collection of items enclosed in paranthesis ( )
* Ordered, can be of any type
* Immutable (items cannot be modified after they are created)

## ***Access a range of Index***

In [ ]:
tup1=("kaggle",3,True,'n')
print(tup1)
print(tup1[1:3])

('kaggle', 3, True, 'n')
(3, True)

## ***Adding elements to a tuple***

In [ ]:
#Tuple is Immutable
tup1[2]=False

TypeError: ignored

If we want to change the content of tuple anyway, we have to first convert it to list, change the content, and the convert back to tuple

### ***Converting Tuple to list***

In [ ]:
tup1

('kaggle', 3, True, 'n')

In [ ]:
lis1=list(tup1)
print(lis1)

['kaggle', 3, True, 'n']

### ***Add elements to the converted list***

In [ ]:
lis1.append("karthik")
print(lis1)

['kaggle', 3, True, 'n', 'karthik']

In [ ]:
lis1[2]="Newword"
print(lis1)

['kaggle', 3, 'Newword', 'n', 'karthik']

### ***Converting List to Tuple***

In [ ]:
tup1=tuple(lis1)
print(tup1)

('kaggle', 3, 'Newword', 'n', 'karthik')

## ***Deleting elements from a tuple***

If we want to change the content of tuple anyway, we have to first convert it to list, change the content, and the convert back to tuple

In [ ]:
tup2=(5,'k',"Malibu",34.65,False,"Abcd")
print(tup2)

(5, 'k', 'Malibu', 34.65, False, 'Abcd')

### ***Converting Tuple to list***

In [ ]:
lis2=list(tup2)
print(lis2)

[5, 'k', 'Malibu', 34.65, False, 'Abcd']

### ***Delete elements from the converted list***

In [ ]:
lis2.remove(False)
print(lis2)

[5, 'k', 'Malibu', 34.65, 'Abcd']

In [ ]:
lis2.pop(4)
print(lis2)

[5, 'k', 'Malibu', 34.65]

### ***Converting List to Tuple***

In [ ]:
tup2=tuple(lis2)
print(tup2)

(5, 'k', 'Malibu', 34.65)

## ***Combine multiple tuples***

In [ ]:
#Similar to list concatenate
tup3=('a',"Bc",123)
tup4=(456,"DEFG<",'z')
tupx=tup3+tup4
print(tupx)

('a', 'Bc', 123, 456, 'DEFG<', 'z')

In [ ]:
tupy=tup3+tup4+tup3
print(tupy)

('a', 'Bc', 123, 456, 'DEFG<', 'z', 'a', 'Bc', 123)

# ***Set***

Collection of unique items enclosed in { }
* No defined order, can be of any type
* sets are mutable
* Duplicates not allowed (first duplicate declared is retained)

In [1]:
#Unordered, No duplicates allowed
set1={"apple",34,True,"apple"}
print(set1)

{True, 34, 'apple'}

In [4]:
set1={"apple",34,True,"castle",1}
print(set1)
# 1 corresponds to True
# 0 corresponds to false

{True, 34, 'apple', 'castle'}

## ***Adding elements***

In [5]:
#use Add method
set1.add(567)
print(set1)

{True, 34, 'castle', 'apple', 567}

## ***Update set***

In [18]:
# Use update method to combine two sets
print(set1)
set2={5436,"caller",354,False}
set2.update(set1)
print(set2)

{True, 34, 'castle', 'apple', 567}
{False, 'caller', 354, True, 34, 'castle', 'apple', 567, 5436}

## ***Deleting elements***

In [7]:
#Use remove method to remove specific item from a set
set2.remove(354)
print(set2)

{False, 'caller', True, 34, 'castle', 'apple', 567, 5436}

## ***Operations on sets***

Following operations return the set of corresponding operations

### ***Difference (A - B)***

In [8]:
# To find the value exsting in first set alone
set3={34,567,"caller","something",False,'f'}
print(set2.difference(set3))

{True, 'apple', 'castle', 5436}

In [11]:
x={1,2,3,4,5,6,7,8,9,10}
y={2,4,6,8,10,12,14,16,18,20}
print(x.difference(y))
# setx-sety

{1, 3, 5, 7, 9}

### ***Intersection (A n B)***

In [13]:
# Find common values of two sets
print(x.intersection(y))
# setx n sety

{2, 4, 6, 8, 10}

### ***Symmetric difference (A n B)'***

In [15]:
#All the itens that are not common to both
print(x.symmetric_difference(y))
# complement(setx n sety)

{1, 3, 5, 7, 9, 12, 14, 16, 18, 20}

# ***Dictionary***

Collection of key-value pairs enclosed in { }
* Mutable (key-value pairs can be added, removed, modified after they are created)
* Duplicates not allowed (latest value is overwritten over old one)

In [53]:
dict1={
    "name":"John",
    "place":"Delhi",
    4:"four",
    "RNo.":47,
    "place":"Hubli",  #Duplicates of key not allowed, latest is updated
    "PetName":"John",  #value can be duplicated
    "18+":True,        #All datatypes are valid
    "Languages":["English","Marathi","Hindi"]
}
print(dict1)

{'name': 'John', 'place': 'Hubli', 4: 'four', 'RNo.': 47, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi']}

## ***Accessing***

### ***Accessing values***

#### ***using key as index value***

In [54]:
print(dict1["name"])

John

In [55]:
print(dict1["Languages"])
print(dict1["Languages"][1])  #1st index element of list in dictionary
print(dict1["Languages"][0][4]) #letter at index4, of string-element at index0, of list "Languages", in dictionary dict1

['English', 'Marathi', 'Hindi']
Marathi
i

#### ***using get method***

In [56]:
# using .get method
print(dict1.get("name"))

John

#### ***using values method***

In [57]:
print(dict1.values())

dict_values(['John', 'Hubli', 'four', 47, 'John', True, ['English', 'Marathi', 'Hindi']])

### ***Accessing keys***

In [58]:
print(dict1.keys())

dict_keys(['name', 'place', 4, 'RNo.', 'PetName', '18+', 'Languages'])

### ***Accessing Dictionary***

In [59]:
print(dict1.items())

dict_items([('name', 'John'), ('place', 'Hubli'), (4, 'four'), ('RNo.', 47), ('PetName', 'John'), ('18+', True), ('Languages', ['English', 'Marathi', 'Hindi'])])

In [60]:
print(dict1)

{'name': 'John', 'place': 'Hubli', 4: 'four', 'RNo.': 47, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi']}

## ***Overwrite***

### ***Change value using key as index***

In [61]:
dict1["name"]="Abhinav"
print(dict1)

{'name': 'Abhinav', 'place': 'Hubli', 4: 'four', 'RNo.': 47, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi']}

### ***Update Method***

In [62]:
#key:value pair must be mentioned in { }
# i.e. Dictionary must be passed
dict1.update({'RNo.':248})
print(dict1)

{'name': 'Abhinav', 'place': 'Hubli', 4: 'four', 'RNo.': 248, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi']}

In [63]:
dict1.update({'place':"Belgaum",4:"Chaar"})
print(dict1)

{'name': 'Abhinav', 'place': 'Belgaum', 4: 'Chaar', 'RNo.': 248, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi']}

In [64]:
#Appending to list in dictionary
dict1['Languages'].append("Kannada")
print(dict1)

{'name': 'Abhinav', 'place': 'Belgaum', 4: 'Chaar', 'RNo.': 248, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi', 'Kannada']}

## ***Deleting***

### ***Removing key-value pairs using pop() method***

In [65]:
#Give the key as parameter to pop method
dict1.pop(4)
print(dict1)

{'name': 'Abhinav', 'place': 'Belgaum', 'RNo.': 248, 'PetName': 'John', '18+': True, 'Languages': ['English', 'Marathi', 'Hindi', 'Kannada']}

## ***Nested Dictionary***

In [72]:
myFamily={
    "Wife":{
        "name":"Hema",
        "Birthday":15,
        "MarriedOn":1996
    },
    "Child1":{
        "name":"Mitali",
        "YOB":1998
    },
    "Child2":{
        "name":"Abhinav",
        "YOB":2003
    },
    "Dog":"Bhow-Bhow",
    "Cat":"Dead"
}
print(myFamily)

{'Wife': {'name': 'Hema', 'Birthday': 15, 'MarriedOn': 1996}, 'Child1': {'name': 'Mitali', 'YOB': 1998}, 'Child2': {'name': 'Abhinav', 'YOB': 2003}, 'Dog': 'Bhow-Bhow', 'Cat': 'Dead'}